<!-- Everything inside the block content will be used in the base.html -->
{% extends 'base.html' %}
{% block title %}Edit Your Blog Post!{% endblock %}
{% block content %}

{% if user.is_authenticated %}

    <h1>Update Your Post..</h1>
    <br/><br/>

    <div class="form-group">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-secondary">Update</button>
        </form>
    </div>

{% else %}

<h1>Oops! You Have Not Login..</h1>

{% endif %}





<!-- Below are the code for home -->
<!-- <ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}"> {{ post.title }} </a> - {{ post.author.first_name }} {{ post.author.last_name }}<br>
    {{ post.body }}</li>
{% endfor %}
</ul> -->

{% endblock %}